// Mundial Hair Italic

font-family: mundial, sans-serif;

font-weight: 100;

font-style: italic;


// Mundial Hair

font-family: mundial, sans-serif;

font-weight: 100;

font-style: normal;


// Mundial Thin Italic

font-family: mundial, sans-serif;

font-weight: 200;

font-style: italic;


Mundial Thin

font-family: mundial, sans-serif;

font-weight: 200;

font-style: normal;


Mundial Light Italic

font-family: mundial, sans-serif;

font-weight: 300;

font-style: italic;


Mundial Light

font-family: mundial, sans-serif;

font-weight: 300;

font-style: normal;


Mundial Italic

font-family: mundial, sans-serif;

font-weight: 400;

font-style: italic;


Mundial Regular

font-family: mundial, sans-serif;

font-weight: 400;

font-style: normal;


Mundial DemiBold Italic

font-family: mundial, sans-serif;

font-weight: 600;

font-style: italic;


Mundial DemiBold

font-family: mundial, sans-serif;

font-weight: 600;

font-style: normal;


Mundial Bold Italic

font-family: mundial, sans-serif;

font-weight: 700;

font-style: italic;


Mundial Bold

font-family: mundial, sans-serif;

font-weight: 700;

font-style: normal;


Mundial Black Italic

font-family: mundial, sans-serif;

font-weight: 900;

font-style: italic;


Mundial Black

font-family: mundial, sans-serif;

font-weight: 900;

font-style: normal;