body {
    background-color: #373639;
}

.home { background-color: #373639;
    
    h1 { color:rgb(86, 86, 86);
    font-family: cursive;}

    article { background-color: rgb(208, 208, 208);
        aside { color: red; } 
    }
    .user-desc {
        color: black;
    }
}
