.lightbox {
    display: none;
}
  
.show-popUp { display: block; }
  
.lightbox .close {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 30px;
    text-decoration: none;
}